@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #13124a;
  background-color: #fff;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

button {
  font-family: inherit;
}
